#terminal .xterm .xterm-viewport {
  overflow: auto;
}

.xterm {
  cursor: text;
  font-feature-settings: 'liga' 0;
  position: relative;
  -moz-user-select: none;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.xterm .xterm-viewport {
  background-color: #000;
  overflow-y: scroll;
  cursor: default;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.xterm .xterm-scroll-area {
  visibility: hidden;
}

.xterm .xterm-screen {
  position: relative;
}

.xterm .xterm-helpers {
  position: absolute;
  top: 0;
  z-index: 5;
}

.xterm .xterm-helper-textarea {
  padding: 0;
  border: 0;
  margin: 0;
  position: absolute;
  opacity: 0;
  left: -9999em;
  top: 0;
  width: 0;
  height: 0;
  z-index: -5;
  white-space: nowrap;
  overflow: hidden;
  resize: none;
}

.xterm-char-measure-element {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -9999em;
  line-height: normal;
}

.xterm .composition-view {
  background: #000;
  color: #fff;
  display: none;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
}

.xterm .xterm-screen canvas {
  position: absolute;
  left: 0;
  top: 0;
}
